# Project-wide secrets
#
# This file defines secret values that belong to the whole project/repository.
#
# Copy it to `project.env.secrets` and adjust the values for each project.
# WARNING: Do not commit this file to version control.

HOSTAPP_POSTGRES_PASSWORD=CHANGE_ME_IN_PRODUCTION_HOSTAPP_POSTGRES_PASSWORD
HOSTAPP_AUTHENTIK_BOOTSTRAP_PASSWORD=CHANGE_ME_IN_PRODUCTION_HOSTAPP_BOOTSTRAP_PASSWORD
HOSTAPP_AUTHENTIK_BOOTSTRAP_TOKEN=CHANGE_ME_IN_PRODUCTION_HOSTAPP_BOOTSTRAP_TOKEN
HOSTAPP_AUTHENTIK_SECRET_KEY=CHANGE_ME_IN_PRODUCTION_HOSTAPP_SECRET_KEY_MIN_50_CHARS
HOSTAPP_CLIENT_SECRET=CHANGE_ME_IN_PRODUCTION_HOSTAPP_CLIENT_SECRET
HOSTAPP_SERVICE_CLIENT_SECRET=CHANGE_ME_IN_PRODUCTION_HOSTAPP_SERVICE_CLIENT_SECRET
